*.html
*.zip
*.json
*.csv
*.txt
*.jpeg
*.jpg
*.png
*.svg
*.bak
*.pdf
analog/runs/
__pycache__/
analog/simulations/
analog/spice/
analog/magic/*.gds
analog/magic/**/*.gds
bak/
\#*
*.out
*.bak.*
*.ext
*.sim
*.nodes
untitled*
*.raw
analog/magic/*.spice
analog/magic/**/*.spice
analog/klayout/*.spice
analog/klayout/*lvs
analog/klayout/*.cir
*.lvsdb
