*.html
*.zip
*.json
*.csv
*.txt
*.jpeg
*.jpg
*.png
*.svg
*.bak
*.pdf
analog/runs/
__pycache__/
analog/simulations/
analog/spice/
analog/magic/*.gds
analog/magic/**/*.gds
bak/
\#*
*.out
*.bak.*
*.ext
*.sim
*.nodes
untitled*
*.raw
analog/magic/*.spice
analog/magic/**/*.spice
analog/klayout/*.spice
analog/klayout/*lvs
analog/klayout/*.cir
*.lvsdb
analog/netlist/
\#*
.*

analog/klayout/production/final_merge_20260923/user_project_wrapper.r18b.gds
analog/klayout/production/final_merge_20260923/r19/user_project_wrapper.r19.gds
analog/klayout/production/final_merge_20260923/**/user_project_wrapper.*.gds
analog/klayout/production/pixel_4tile_work.*.gds
analog/klayout/production/pixel_4tile_mag_9_1_pruned.gds
analog/klayout/production/rcc/**/*.gds
analog/klayout/production/lvs/*.gds
analog/klayout/production/**/*.bak-*
